<div class="projects-container">
    <ion-card *ngFor="let collaborationproposal  of collaborationproposals" class="elevated-card project-card ion-activatable" (click)="navigateToProjectView(project.id)">
        <div class="project-label">{{ collaborationproposal.label }}</div>
        <div class="project-abstract">{{ collaborationproposal.abstract }}</div>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  <ion-row>
     <ion-col>
    <ion-button (click)="single_notification()">
    Single Notification
  </ion-button>
   </ion-col>
   <ion-col>
  <ion-button (click)="multi_notification()">
    Multi Notifcations
  </ion-button>
  </ion-col>
   <ion-col>
  <ion-button (click)="delayed_notification()">
    Delayed Notification
  </ion-button>
 </ion-col>
 </ion-row>
 
</div>

