<div class="modal-header">
  <ion-button class="modal-close-button" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  <div class="modal-title"> Ajouter un Projet </div>

     
      <ion-row>
        <ion-col text-center>
          <ion-button expand="block" shape="round" fill="outline" class="button" >
            &nbsp;Creer un Projet
          </ion-button>
        </ion-col>
      </ion-row>
     <ion-row>
       <ion-button (click)="single_notification()">
           Single Notification
       </ion-button>
  
      <ion-button (click)="multi_notification()">
          Multi Notifcations
      </ion-button>
  
     <ion-button (click)="delayed_notification()">
          Delayed Notification
     </ion-button>
    </ion-row>

  </div>
  
