<div class="modal">
    <div class="modal-header">
        <ion-button class="modal-close-button" (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <div class="modal-title">Start a new project</div>
    </div>
    <div class="modal-body">
        <ion-card class="modal-card">
            <div class="modal-card-content">
                <form [formGroup]="addProjectFormGroup">
                    <div class="form-group">
                        <ion-input type="text" id="label" formControlName="label" required placeholder="Project label"></ion-input>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('label').touched || addProjectFormGroup.get('label').dirty) && addProjectFormGroup.get('label').hasError('required')">* This field is required</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('label').touched || addProjectFormGroup.get('label').dirty) && addProjectFormGroup.get('label').hasError('blank')">* Project label must have at least one none whitespace character</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('label').touched || addProjectFormGroup.get('label').dirty) && addProjectFormGroup.get('label').hasError('maxlength')">* Please do not exceed 120 characters</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('label').touched || addProjectFormGroup.get('label').dirty) && addProjectFormGroup.get('label').hasError('notUnique')">* A project with the same label already exists</p>
                    </div>
                    <div class="form-group">
                        <ion-input type="text" id="abstract" formControlName="abstract" required placeholder="A brief abstract"></ion-input>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('abstract').touched || addProjectFormGroup.get('abstract').dirty) && addProjectFormGroup.get('abstract').hasError('required')">* This field is required</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('abstract').touched || addProjectFormGroup.get('abstract').dirty) && addProjectFormGroup.get('abstract').hasError('blank')">* Abstract must have at least one none whitespace character</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('abstract').touched || addProjectFormGroup.get('abstract').dirty) && addProjectFormGroup.get('abstract').hasError('maxlength')">* Please do not exceed 300 characters</p>
                    </div>
                    <div class="form-group">
                        <ion-textarea type="text" rows="10" id="description" formControlName="description" required placeholder="More details about the project"></ion-textarea>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('description').touched || addProjectFormGroup.get('description').dirty) && addProjectFormGroup.get('description').hasError('required')">* This field is required</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('description').touched || addProjectFormGroup.get('description').dirty) && addProjectFormGroup.get('description').hasError('blank')">* Description must have at least one none whitespace character</p>
                        <p class="error-message" *ngIf="(addProjectFormGroup.get('description').touched || addProjectFormGroup.get('description').dirty) && addProjectFormGroup.get('description').hasError('maxlength')">* Please do not exceed 900 characters</p>
                    </div>
                </form>
            </div>
            <div class="modal-card-actions">
                <ion-button expand="block" shape="round" strong="true" class="primary-gradient-button" (click)="onAddProject()" [disabled]="addProjectFormGroup.invalid">Create new project</ion-button>
            </div>
        </ion-card>
    </div>
</div>
