<div class="modal">
    <div class="modal-header">
        <ion-button class="modal-close-button" (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <div class="modal-title">Add a new task</div>
    </div>
    <div class="modal-body">
        <ion-card class="modal-card">
            <div class="modal-card-content">
                <form [formGroup]="addTaskFormGroup">
                    <div class="form-group">
                        <ion-input type="text" id="label" formControlName="label" required placeholder="Task label"></ion-input>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('label').touched || addTaskFormGroup.get('label').dirty) && addTaskFormGroup.get('label').hasError('required')">* This field is required</p>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('label').touched || addTaskFormGroup.get('label').dirty) && addTaskFormGroup.get('label').hasError('blank')">* Task label must have at least one none whitespace character</p>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('label').touched || addTaskFormGroup.get('label').dirty) && addTaskFormGroup.get('label').hasError('maxlength')">* Please do not exceed 120 characters</p>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('label').touched || addTaskFormGroup.get('label').dirty) && addTaskFormGroup.get('label').hasError('notUnique')">* A task with the same label already exists</p>
                    </div>
                    <div class="form-group">
                        <ion-textarea type="text" rows="6" id="description" formControlName="description" required placeholder="A brief description about the task"></ion-textarea>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('description').touched || addTaskFormGroup.get('description').dirty) && addTaskFormGroup.get('description').hasError('required')">* This field is required</p>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('description').touched || addTaskFormGroup.get('description').dirty) && addTaskFormGroup.get('description').hasError('blank')">* Description must have at least one none whitespace character</p>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('description').touched || addTaskFormGroup.get('description').dirty) && addTaskFormGroup.get('description').hasError('maxlength')">* Please do not exceed 300 characters</p>
                    </div>
                    <div class="form-group">
                        <ion-datetime id="dueDate" formControlName="dueDate" required placeholder="Due date" displayFormat="D MMM, YYYY - HH:mm" [min]="minDueDate"></ion-datetime>
                        <p class="error-message" *ngIf="(addTaskFormGroup.get('dueDate').touched || addTaskFormGroup.get('dueDate').dirty) && addTaskFormGroup.get('dueDate').hasError('required')">* This field is required</p>
                    </div>
                    <div class="form-group">
                        <ion-input type="text" id="assignedTo" formControlName="assignedTo" placeholder="Assign task to..." (ionChange)="onAssignedToInputChange()"></ion-input>
                    </div>
                    <div *ngIf="addTaskFormGroup.get('assignedTo').value.trim() !== ''" class="task-team-suggestions-container">
                        <div *ngFor="let suggestion of suggestedTaskTeam; let i = index;" class="task-team-suggestion ion-activatable" (click)="onSuggestionSelection(i)">
                            <div class="task-team-suggestion-avatar-container">
                                <ion-avatar>
                                    <img src="assets/imgs/profile-picture.jpg">
                                </ion-avatar>
                            </div>
                            <div class="task-team-suggestion-information-container">
                                <div class="suggestion-fullname">{{ suggestion.firstName + ' ' + suggestion.lastName }}</div>
                                <div class="suggestion-email">{{ suggestion.email }}</div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                        <div *ngIf="!suggestedTaskTeam || suggestedTaskTeam.length <= 0" class="no-data-container">
                            <img src="assets/imgs/no-data.png">
                            <p>No matches found</p>
                        </div>
                    </div>
                    <div *ngIf="addTaskFormGroup.get('assignedTo').value.trim() === ''" class="task-team-container">
                        <ion-chip *ngFor="let collaborator of taskTeam; let i = index;" color="primary">
                            <ion-avatar>
                                <img src="assets/imgs/profile-picture.jpg">
                            </ion-avatar>
                            <ion-label>{{ collaborator.firstName + ' ' + collaborator.lastName }}</ion-label>
                            <ion-icon name="close-circle" (click)="onSuggestionRemoval(i)"></ion-icon>
                        </ion-chip>
                    </div>
                </form>
            </div>
            <div class="modal-card-actions">
                <ion-button expand="block" shape="round" strong="true" class="primary-gradient-button" (click)="onAddTask()" [disabled]="addTaskFormGroup.invalid">Create new task</ion-button>
            </div>
        </ion-card>
    </div>
</div>
