.main-menu {
    --background: url(../../../assets/imgs/collaboration-cropped-blured-gradient-background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .main-menu-header {
        padding: 48px 24px;
        box-sizing: border-box;
    
        .main-menu-header-content-container {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            justify-content: stretch;
            box-sizing: border-box;
    
            .avatar-container {
                width: 100px;
                height: 100px;
                padding: 10px;
                box-sizing: border-box;
                margin-right: 24px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.1);
    
                ion-avatar {
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--ion-color-primary-contrast);
                }
            }
    
            .user-information-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
    
                p {
                    margin: 0;
                }
    
                .fullname {
                    font-weight: bold;
                    color: var(--ion-color-primary-contrast);
                }
    
                .email {
                    color: var(--ion-color-primary-contrast);
                    opacity: 0.8;
                    font-size: 14px;
                }
            }
        }
    }

    .main-menu-content {
        --background: transparent;

        .main-menu-list {
            background: transparent;

            .main-menu-item {
                --min-height: 60px;
                --padding-start: 24px;
                --border-width: 0px;
                --background: transparent;
                --border-color: transparent;
                --color: var(--ion-color-primary-contrast);
                
                ion-icon {
                    color: var(--ion-color-primary-contrast);
                    opacity: 0.6;
                }
            }

            .main-menu-active-item {
                --background: rgba(255, 255, 255, 0.2);
                font-weight: bold;

                ion-icon {
                    opacity: 1;
                }
            }
        }
    }
}

.app-main-toolbar {
    --background: var(--ion-background-color);
    --min-height: 64px;
    --padding-start: 20px;
    --padding-end: 20px;

    .toolbar-logo-container {
        display: inline-block;
        height: 30px;
        max-height: 30px;
        padding-top: 6px;
        box-sizing: border-box;

        img {
            height: 100%;
        }
    }

    .menu-open-btn {
        --padding-top: 0px;
        --padding-end: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        width: 30px;
        height: 30px;

        ion-icon {
            font-size: 30px;
        }
    }
}
