<ion-menu menuId="main-menu" contentId="main" side="end" type="overlay" class="main-menu">
    <ion-header mode="ios" class="main-menu-header">
        <div class="main-menu-header-content-container">
            <div class="avatar-container">
                <ion-avatar>
                    <img src="http://1.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?size=800">
                </ion-avatar>
            </div>
            <div class="user-information-container">
                <div class="fullname">{{ currentUser.firstName + ' ' + currentUser.lastName }}</div>
                <div class="email">{{ currentUser.email }}</div>
            </div>
        </div>
    </ion-header>
    <ion-content class="main-menu-content">
        <ion-list class="main-menu-list">
            <ion-item *ngFor="let item of mainMenuListItems" [routerLink]="item.path" routerLinkActive="main-menu-active-item" (click)="toggleMainMenu()" detail="false" class="main-menu-item">
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                <ion-label>{{ item.label }}</ion-label>
            </ion-item>
            <ion-item (click)="onSignOut()" detail="false" class="main-menu-item">
                <ion-icon name="log-out" slot="start"></ion-icon>
                <ion-label>Sign out</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header mode="ios">
    <ion-toolbar class="app-main-toolbar">
        <div class="toolbar-logo-container">
            <img src="assets/imgs/easycollab-toolbar-logo-gradient.png" alt="EasyCollab">
        </div>
        <ion-buttons slot="end">
            <ion-button class="menu-open-btn" (click)="toggleMainMenu()">
                <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content id="main">
    <router-outlet></router-outlet>
</ion-content>
